/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 139, 92, 246;
	--color-secondary: 91, 33, 182;
}

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		overflow: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@apply text-base text-gray-800 dark:text-gray-100;
	}
	body.using-mouse :focus {
		outline: none!important;
	}
	input::-webkit-datetime-edit {
		padding: 0!important;
	}
}

@layer components {
	/* Headings */
	h1, .h1 {
		@apply text-5xl font-semibold leading-10 mb-2;
	}
	h2, .h2 {
		@apply text-4xl font-semibold leading-8 mb-2;
	}
	h3, .h3 {
		@apply text-3xl font-semibold leading-7 mb-2;
	}
	h4, .h4 {
		@apply text-2xl font-semibold leading-6 mb-2;
	}
	h5, .h5 {
		@apply text-lg font-semibold leading-5 mb-2;
	}
	h6, .h6 {
		@apply text-base font-semibold leading-4 mb-2;
	}
	/* Typography */
	p {
		@apply mb-3 last:mb-0;
	}
	a {
		@apply text-primary break-all
	}
	hr {
		@apply my-3
	}
	ul {
		@apply mb-3
	}
	strong {
		@apply font-bold
	}
	code {
		@apply text-pink-600 dark:text-pink-300 font-mono;
	}
	pre {
		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	hr {
		@apply dark:border-gray-700 dark:border-opacity-70;
	}
	blockquote {
		@apply px-3 py-2 mb-3 last:mb-0 border-l-3 border-primary text-gray-600 dark:text-gray-200;
	}
	/* Images */
	img[lazy=loading] {
		@apply animate-pulse;
	}
	/*Inputs*/
	input[type], select, textarea, input::-webkit-datetime-edit {
		@apply text-lg sm:text-base leading-5;
	}
	[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
		@apply text-lg sm:text-base leading-5 appearance-none;
	}
	.label {
		@apply block text-sm font-semibold text-gray-900 mb-1;
	}
	.dot {
		@apply w-1 h-1 rounded-full bg-gray-400;
	}
	.key-button {
		@apply w-7 h-7 rounded-md border border-gray-300 bg-white shadow-sm text-gray-500 text-xs font-bold capitalize hover:bg-gray-50 border-b-4 active:border-b active:bg-gray-100
	}
	/* Form inputs */
	.form-input {
		@apply block w-full px-3 py-1.5 transition duration-100 ease-in-out border rounded-sm focus:ring-2 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.form-input:default {
		@apply text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500 bg-gray-50 dark:bg-gray-950 border-gray-200 dark:border-gray-700 dark:border-opacity-70 focus:bg-white dark:focus:bg-white focus:border-primary focus:ring-primary dark:focus:border-primary dark:focus:ring-primary
	}
	.form-input.purple500 {
		@apply text-gray-900 placeholder-gray-400 bg-gray-50 border-gray-200 focus:bg-white focus:border-purple-500 focus:ring-purple-500
	}
	.form-input.light {
		@apply text-gray-900 placeholder-gray-400 bg-gray-50 border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.white {
		@apply text-gray-900 placeholder-gray-400 bg-white border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.danger {
		@apply text-red-900 placeholder-red-400 bg-red-50 border-red-200 focus:bg-white focus:border-red-500 focus:ring-red-500
	}
	.form-input.success {
		@apply text-green-900 placeholder-green-400 bg-green-50 border-green-200 focus:bg-white focus:border-green-500 focus:ring-green-500
	}
	.form-input.warning {
 		@apply text-yellow-900 placeholder-yellow-400 bg-red-50 border-yellow-200 focus:bg-white focus:border-yellow-500 focus:ring-yellow-500
	}
	.form-input.black {
		@apply text-gray-200 placeholder-gray-300 bg-gray-800 border-gray-900 focus:bg-white focus:border-primary focus:ring-white
	}
	/* Text area */
	.form-textarea {
		@apply block w-full px-3 py-1.5 transition duration-100 ease-in-out border rounded-sm focus:ring-2 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.form-textarea:default {
		@apply text-gray-900 placeholder-gray-400 bg-gray-50 border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-textarea.light {
		@apply text-gray-900 placeholder-gray-400 bg-gray-50 border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-textarea.purple500 {
		@apply text-gray-900 placeholder-gray-400 bg-gray-50 border-gray-200 focus:bg-white focus:border-purple-500 focus:ring-purple-500
	}
	.form-textarea.danger {
		@apply border-red-200 bg-red-50 placeholder-red-200 text-red-900 focus:bg-white focus:border-red-500 focus:ring-red-500
	}
	.form-textarea.success {
		@apply border-green-200 bg-green-50 placeholder-gray-400 text-green-900 focus:bg-white focus:border-green-500 focus:ring-green-500
	}
	/* Select */
	.form-select {
		@apply block w-full pl-3 pr-8 py-1.5 transition duration-100 ease-in-out border rounded-sm focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50 text-lg sm:text-base leading-5
	}
	.form-select:default {
		@apply text-gray-900 placeholder-gray-400 bg-white border-gray-200 focus:border-purple-500
	}
	.form-select.white {
		@apply border-gray-200 bg-white placeholder-gray-500 text-gray-900
	}
	.form-select.light {
		@apply border-gray-200 bg-gray-50 placeholder-gray-500 text-gray-900
	}
	.form-select.danger {
		@apply border-red-300 bg-red-50 placeholder-red-200 text-red-900
	}
	.form-select.success {
		@apply border-green-300 bg-green-50 placeholder-gray-400 text-green-900
	}
	/* Radio */
	.form-radio {
		@apply transition duration-100 ease-in-out border-gray-300 focus:border-purple-500 focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 focus:ring-offset-0  disabled:opacity-50
	}
	.form-radio:default {
		@apply text-purple-500 checked:border-purple-600 focus:border-purple-600 focus:ring-purple-600
	}
	.form-radio.primary {
		@apply text-primary checked:border-black checked:border-opacity-10 focus:border-black focus:ring-black focus:border-opacity-10 focus:ring-opacity-10;
	}
	.form-radio.error {
		@apply text-red-500 checked:border-red-600 focus:border-red-600 focus:ring-red-600
	}
	.form-radio.success {
		@apply text-green-500 checked:border-gray-600 focus:border-green-600 focus:ring-green-600
	}
	.form-radio.warning {
		@apply text-yellow-500 checked:border-yellow-600 focus:border-yellow-600 focus:ring-yellow-600
	}
	/* Checkbox */
	.form-checkbox {
		@apply transition duration-100 ease-in-out rounded-sm border-gray-300 focus:border-purple-500 focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 focus:ring-offset-0 disabled:opacity-50
	}
	.form-checkbox:default {
		@apply text-purple-500 checked:border-purple-600
	}
	.form-checkbox.primary {
		@apply text-primary checked:border-black checked:border-opacity-10;
	}
	.form-checkbox.error {
		@apply text-red-500 checked:border-red-600
	}
	.form-checkbox.red500 {
		@apply text-red-500 checked:border-red-600
	}
	.form-checkbox.green500 {
		@apply text-green-500 checked:border-green-600
	}
	.form-checkbox.purple500 {
		@apply text-purple-500 checked:border-purple-600
	}
	.form-checkbox.success {
		@apply text-green-500 checked:border-green-600
	}
	.form-checkbox.gray900 {
		@apply text-green-900 checked:border-black
	}
	/* Button */
	.button {
		@apply block px-4 py-1.5 rounded-sm transition text-sm leading-5 font-semibold duration-100 ease-in-out focus:border-purple-500 focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.button:default {
		@apply text-white bg-purple-500 border border-transparent hover:bg-purple-600
	}
	.button.primary {
		@apply text-white bg-primary border border-black border-opacity-10 hover:bg-opacity-70 hover:border-transparent shadow-inner-white
	}
	.button.secondary {
		@apply text-white bg-secondary border border-black border-opacity-10 hover:bg-opacity-70 hover:border-transparent shadow-inner-white
	}
	.button.error {
		@apply text-white bg-red-500 border border-red-600 hover:bg-red-600 shadow-inner-white
	}
	.button.success {
		@apply text-white bg-green-500 border border-transparent hover:bg-green-600 shadow-inner-white
	}
	.button.white {
		@apply text-gray-700 bg-white border border-transparent hover:bg-gray-100 shadow-inner-white
	}
	.button.gray100 {
		@apply text-gray-600 bg-gray-100 border border-gray-200 hover:bg-gray-200 shadow-inner-white
	}
	.button.gray200 {
		@apply text-gray-600 bg-gray-200 border border-gray-300 hover:bg-gray-300 shadow-inner-white
	}
	.button.gray300 {
		@apply text-gray-600 bg-gray-300 border border-gray-400 hover:bg-gray-400 shadow-inner-white
	}
	.button.gray400 {
		@apply text-white bg-gray-400 border border-gray-500 hover:bg-gray-500 shadow-inner-white
	}
	.button.gray500 {
		@apply text-white bg-gray-500 border border-gray-600 hover:bg-gray-600 shadow-inner-white
	}
	.button.gray600 {
		@apply text-white bg-gray-600 border border-gray-700 hover:bg-gray-700 shadow-inner-white
	}
	.button.outlineWhite {
		@apply text-white bg-transparent border-2 md:border border-white hover:bg-white hover:text-gray-900
	}
	.button.outlinePrimary {
		@apply text-primary bg-transparent border-2 md:border border-primary hover:bg-primary hover:text-white
	}
	.button.outlineGray200 {
		@apply text-gray-700 bg-transparent border-2 md:border hover:bg-gray-100
	}
	.button.outlinePurple500 {
		@apply text-purple-500 bg-transparent border-2 sm:border border-purple-500 hover:bg-purple-500 hover:text-white
	}
	.button.purple500 {
		@apply text-white bg-purple-500 border border-purple-600 hover:bg-purple-600 shadow-inner-white
	}
	.button.outlineRed500 {
		@apply text-red-500 bg-transparent border-2 md:border border-red-600 hover:bg-red-500 hover:text-white
	}
	.button.red500 {
		@apply text-white bg-red-500 border border-red-600 hover:bg-red-600 shadow-inner-white
	}
	.button.green500 {
		@apply text-white bg-green-500 border border-green-600 hover:bg-green-600 shadow-inner-white
	}
	.button.black {
		@apply text-white bg-black border border-white border-opacity-05 hover:bg-gray-900 hover:border-transparent shadow-inner-white
	}
	.button.black30 {
		@apply text-white bg-black border border-transparent bg-opacity-30 hover:bg-opacity-50 shadow-inner-white
	}
	.button.link {
		@apply text-purple-500 hover:text-purple-600
	}
	.button.linkWhite {
		@apply text-white
	}
	.button.linkGray400 {
		@apply text-gray-400 hover:text-gray-500
	}
	.button.linkGray500 {
		@apply text-gray-500 hover:text-gray-600
	}
	.button.linkGray600 {
		@apply text-gray-600 hover:text-gray-700
	}
}
/*Tooltips*/
.tippy-tooltip.dark-theme {
	padding: 0.375rem 0.5rem;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}
@keyframes ellipsis {
	to {
		width: 1.25em;    
	}
}
@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;    
	}
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}